.cards-tours {
  display: block;
  flex-direction: row;
  gap: 30px;
  padding: 0px;
  padding: 50px 0 0 0;
  display: block;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 343.2px;
}
@media (min-width: 1023px) {
  .cards-tours {
    padding: 100px 0 0 0;
    width: 981px;
  }
}
@media (min-width: 1800px) {
  .cards-tours {
    width: 1400px;
  }
}
