*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  /* padding: 0 21px; */
  background-color: #f9f7f4;
}

footer {
  background: #f4f0e9;
  padding: 0 21px;
}
@media (min-width: 1023px) {
  footer {
    padding: 0 53px;
  }
}
@media (min-width: 1800px) {
  footer {
    padding: 0 376px;
  }
}

p {
  margin: 0;
}

.font_h1 {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1b1f2b;
  margin: 0;
}
@media (min-width: 1023px) {
  .font_h1 {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #1b1f2b;
  }
}

.font_h2 {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1b1f2b;
  padding-top: 75px;
  margin: 0;
}

@media (min-width: 1023px) {
  .font_h2 {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    color: #1b1f2b;
    padding-top: 135px;
  }
}

.font_h3 {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #1b1f2b;
  margin: 0;
}
@media (min-width: 1023px) {
  .font_h3 {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #1b1f2b;
  }
}

.p-big {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
  color: #1b1f2b;
}

@media (min-width: 1023px) {
  .p-big {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1b1f2b;
  }
}

.p-normal {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #1b1f2b;
}

@media (min-width: 1023px) {
  .p-normal {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #1b1f2b;
  }
}

.p-small {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1b1f2b;
}
@media (min-width: 1023px) {
  .p-small {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1b1f2b;
  }
}
/* WELCOME PAGE */ /* WELCOME PAGE */ /* WELCOME PAGE */
.welcome-page {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 39.9%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/Footer/footerphoto.png);
  height: 488px;
  background-size: cover;
  background-position: 25%;
}
@media (min-width: 1023px) {
  .welcome-page {
    height: 831px;
    background-size: 100%;
    background-position: right 75%;
  }
}
@media (min-width: 1800px) {
  .welcome-page {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(/src/Header/header-img.png);
    background-position: center;
    background-size: cover;
    height: 831px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 33px 0 0 5.5vw;
  width: 133px;
  height: 22px;
  background: url(/src/Header/YourTour360.svg);
  background-size: cover;
}
@media (min-width: 1023px) {
  .header__logo {
    margin: 29px 0 29px 57px;
    width: 182px;
    height: 31px;
    background-image: url(/src/Header/YourTour1024.svg);
  }
}
@media (min-width: 1800px) {
  .header__logo {
    margin: 29px 0 29px 376px;
    width: 182px;
    height: 31px;
    background-image: url(/src/Header/YourTour1024.svg);
  }
}

.navigation__ul {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
  color: white;
  padding-left: 0px;
}
@media (max-width: 1023px) {
  .navigation__ul {
    display: none;
  }
}
@media (min-width: 1800px) {
  .navigation__ul {
    gap: 50px;
  }
}

.navigation__li__a {
  color: white;
  text-decoration: none;
}
.navigation__li__a :active {
  text-decoration: none;
}
.navigation__li__a :checked {
  text-decoration: none;
}

.navigation__li :hover {
  border-bottom: solid white 1px;
  cursor: pointer;
}
.navigation__li {
  list-style-type: none;
}

.header__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text-container__text-one {
  color: white;
  margin: 84.5px 0 0 0;
  width: 400px;
}

@media (min-width: 1023px) {
  .header__text-container__text-one {
    margin-top: 119px;
    width: 600px;
  }
}
@media (min-width: 1800px) {
  .header__text-container__text-one {
    width: 768px;
  }
}

.header__text-container__text-two {
  color: white;
  margin: 40px 25px 0 25px;
  text-align: center;
  width: 310px;
}
@media (min-width: 1023px) {
  .header__text-container__text-two {
    width: 442px;
    margin: 50px 25px 0 25px;
  }
}
@media (min-width: 1800px) {
  .header__text-container__text-two {
    width: 562px;
  }
}
.phone-num {
  margin: 32.5px 5.5vw 0 0;
  color: white;
  text-decoration: none;
}
@media (min-width: 1023px) {
  .phone-num {
    margin: 30px 57px 30px 0;
    height: 28px;
  }
  .phone-num:hover {
    border-bottom: 1px solid;
  }
}
@media (min-width: 1800px) {
  .phone-num {
    margin: 30px 376px 30px 0;
  }
}

.search-tour-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  width: 114px;
  height: 33px;
  user-select: none;
  transition: 0.2s linear;
  border: none;
  outline: 0;
}

@media (min-width: 1023px) {
  .search-tour-button {
    width: 118px;
    height: 34px;
    margin-top: 50px;
  }
}
@media (min-width: 1023px) {
  .search-tour-button:hover {
    background-color: #efa501;
    color: white;
    cursor: pointer;
  }
  .search-tour-button:active {
    background-color: #f8e6be;
    color: black;
  }
}

/* CHOOSE TOUR */ /* CHOOSE TOUR */ /* CHOOSE TOUR */

.header-h2 {
  text-align: center;
}
@media (max-width: 1023px) {
  .header-h2 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1023px) {
  .header-h2 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
.tour-type {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1023px) {
  .tour-type {
    margin-top: 35px;
    width: 100%;
  }
}
@media (min-width: 1800px) {
  .tour-type {
    height: 39px;
  }
}

/* .p_hover__type-tour_one {
  height: 25px;
  user-select: none;
  border-bottom: #efa501 solid 2px;
  color: #efa501;
  cursor: pointer;
} */

/* @media (min-width: 1023px) {
  .p_hover__type-tour_one {
    height: 28px;
  }
}
@media (min-width: 1800px) {
  .p_hover__type-tour_one {
    height: 34px;
  }
} */

.type-tour__li {
  height: 25px;
  margin-left: 10px;
  user-select: none;
  display: inline-block;
  list-style-type: none;
}
@media (min-width: 1023px) {
  .type-tour__li {
    height: 28px;
  }
}
@media (min-width: 1023px) {
  .type-tour__li :hover {
    cursor: pointer;
    border-bottom: #1b1f2b solid 2px;
  }
}
@media (min-width: 1800px) {
  .type-tour__li {
    height: 34px;
  }
}
.type-tour__li__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.cards-tours {
  display: block;
  flex-direction: row;
  gap: 30px;
  padding: 0px;
  padding: 50px 0 0 0;
  display: block;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 343.2px;
}

@media (min-width: 1023px) {
  .cards-tours {
    padding: 100px 0 0 0;
    width: 981px;
  }
}
@media (min-width: 1800px) {
  .cards-tours {
    width: 1400px;
  }
}
.card-tour {
  display: inline-block;
  margin-top: 18px;
  width: 318px;
  height: 318px;
  border-radius: 20px;
  padding: 25px 25px 0px 25px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1023px) {
  .card-tour {
    margin-top: 18px;
    border-radius: 50px;
    width: 450px;
    height: 531px;
    padding: 50px 0px 0px 50px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1023px) {
  .card-tour:hover .card-tour__background-cont {
    transition: all 0.3s ease;
    transform: scale(1.2);
  }
  .card-tour:hover .more {
    transition: 0.4s linear;
    background: #286562;
    cursor: pointer;
  }
  .card-tour:hover .more:active {
    background-color: #efa501;
  }
}
@media (min-width: 1800px) {
  .card-tour {
    margin-top: 30px;
    width: 370px;
    height: 531px;
    padding: 50px 0px 0px 30px;
    position: relative;
    overflow: hidden;
  }
}

.card-tour__background-cont {
  transition: all 0.3s ease;
}

.background-container1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-1.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container1 {
    background: none;
  }
}

.background-container2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-2.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container2 {
    background: none;
  }
}
@media (min-width: 1023px) {
  .background-container2 {
    background-position: center bottom;
  }
}

.background-container3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-3.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container3 {
    background: none;
  }
}

.background-container4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-4.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container4 {
    background: none;
  }
}

.background-container5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-5.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container5 {
    background: none;
  }
}

.background-container6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-6.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .background-container6 {
    background: none;
  }
}

.card-tour__text-cont {
  position: absolute;
}

.card-tour__text-cont__name {
  color: white;
  margin: 0;
  text-align: start;
}
@media (min-width: 1800px) {
  .card-tour__text-cont__name {
    margin-left: 20px;
  }
}

.card-tour__text-cont__price {
  margin-top: 13px;
  text-align: left;
  color: white;
}
@media (min-width: 1800px) {
  .card-tour__text-cont__price {
    margin-left: 20px;
  }
}

.more {
  border: none;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  margin: 179.5px 0px 0px 0px;
}
@media (min-width: 1023px) {
  .more {
    margin: 320px 0px 0px 0px;
    width: 199px;
    height: 42px;
    border-radius: 50px;
  }
}
@media (min-width: 1800px) {
  .more {
    margin: 277px 0px 0px 0px;
    width: 199px;
    height: 42px;
    border-radius: 50px;
  }
}

.more__text {
  color: white;
}
@media (min-width: 1023px) {
  .more__text {
    padding-left: 20px;
  }
}
@media (min-width: 1800px) {
  .more__text {
    padding-left: 20px;
  }
}

.more__vector {
  height: 15px;
  width: 22px;
  background-image: url(/src/Vectors/Vector.svg);
}

.card-tour_1 {
  overflow: hidden;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-1.png);
  background-size: cover;
  background-position: center;
}

.card-tour_2 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-2.png);
  background-size: cover;
  background-position: center bottom;
}
@media (min-width: 1023px) {
  .card-tour_2 {
    margin-left: 18px;
  }
}
@media (min-width: 1800px) {
  .card-tour_2 {
    margin-left: 30px;
  }
}

.card-tour_3 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-3.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1800px) {
  .card-tour_3 {
    margin-left: 30px;
  }
}

.card-tour_4 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-4.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1023px) {
  .card-tour_4 {
    margin-left: 18px;
  }
}
@media (min-width: 1800px) {
  .card-tour_4 {
    margin-left: 0px;
  }
}

.card-tour_5 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-5.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1800px) {
  .card-tour_5 {
    margin-left: 30px;
  }
}

.card-tour_6 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-6.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}
@media (min-width: 1023px) {
  .card-tour_6 {
    margin-left: 18px;
  }
}
@media (min-width: 1800px) {
  .card-tour_6 {
    margin-left: 30px;
  }
}
/* COLLECT TOUR*/ /* COLLECT TOUR*/ /* COLLECT TOUR*/
.section-description {
  margin: 20px 0 40px 0;
  color: #a6a6a6;
  text-align: center;
}
@media (max-width: 1023px) {
  .section-description {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1023px) {
  .section-description {
    margin: 30px 0 100px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px;
  margin: 0 auto;
  border-radius: 30px;
  width: 298px;
}

@media (min-width: 1023px) {
  .form {
    padding: 60px 60px 60px;
    margin: 0px 53px;
    width: auto;
  }
}

@media (min-width: 1800px) {
  .form {
    padding: 70px 70px 70px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 986px;
  }
}

.form__radio-cont {
  align-items: flex-start;
}
@media (min-width: 1023px) {
  .form__radio-cont {
    width: 798px;
    height: 64px;
  }
}

@media (min-width: 1023px) {
  .form__row-two {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (min-width: 1023px) {
  .form__row-one {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .form__row-one::after {
    position: absolute;
    content: "";
    display: block;
    background: url(./src/Vectors/Vector-arrow.svg);
    height: 11px;
    width: 18px;
    margin-top: 70px;
    margin-left: 760px;
  }
}
@media (min-width: 1800px) {
  .form__row-one::after {
    position: absolute;
    content: "";
    display: block;
    background: url(./src/Vectors/Vector-arrow.svg);
    height: 11px;
    width: 18px;
    margin-top: 70px;
    margin-left: 980px;
    pointer-events: none;
  }
}

.form__input {
  transition: 0.2s linear;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  background: #f9f7f4;
  outline: none;
  height: 43px;
  width: 278px;
  color: #1b1f2b;
  font-size: 16px;
  font-family: Tahoma;
  padding-left: 10px;
  margin-bottom: 30px;
  display: block;
  margin-top: 8px;
}
.form__input:focus {
  border: 1px #a6a6a6 solid;
  background-color: #f4f0e9;
}
.form__input ::placeholder {
  color: #cccccc;
}

@media (min-width: 1023px) {
  .form__input {
    width: 389px;
    height: 68px;
  }
}
@media (min-width: 1023px) {
  .form__input:hover {
    cursor: pointer;
    background-color: #f4f0e9;
  }
}
@media (min-width: 1800px) {
  .form__input {
    width: 500px;
    height: 68px;
  }
}

.form__select {
  margin-top: 8px;
  transition: 0.2s linear;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  background: #f9f7f4;
  outline: none;
  height: 43px;
  width: 278px;
  color: grey;
  font-size: 16px;
  font-family: Tahoma;
  padding-left: 10px;
  margin-bottom: 30px;
  position: relative;
  appearance: none;
  display: block;
}
.form__select:focus {
  border: #a6a6a6 1px solid;
  background-color: #f4f0e9;
}

@media (min-width: 1023px) {
  .form__select {
    width: 389px;
    height: 68px;
  }
}
@media (min-width: 1023px) {
  .form__select:hover {
    cursor: pointer;
    background-color: #f4f0e9;
  }
  .form__select:focus {
    background-color: #f4f0e9;
  }
}
@media (min-width: 1800px) {
  .form__select {
    width: 500px;
    height: 68px;
  }
}

.form__textarea {
  transition: 0.2s linear;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  outline: none;
  background: #f9f7f4;
  height: 132px;
  width: 278px;
  color: #1b1f2b;
  padding-left: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  resize: none;
  display: block;
  margin-top: 8px;
}
.form__textarea:focus {
  border: 1px solid #a6a6a6;
  background-color: #f4f0e9;
}

@media (min-width: 1023px) {
  .form__textarea {
    width: 798px;
    height: 152px;
  }
}
@media (min-width: 1023px) {
  .form__textarea:hover {
    cursor: pointer;
    background-color: #f4f0e9;
  }
}
@media (min-width: 1800px) {
  .form__textarea {
    width: 1030px;
    height: 152px;
  }
}
.form__accept-buttons {
  width: 278px;
}
@media (min-width: 1023px) {
  .form__accept-buttons {
    width: auto;
  }
}
@media (min-width: 1800px) {
  .form__accept-buttons {
    width: 1030px;
  }
}

.radio {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 30px;
  margin-top: 9px;
}

.radio__button__label-img {
  height: 26px;
  width: 26px;
  background: url(./src/RadioButton-CheckBox/RadioSVG1.svg);
}
.radio__button__label-img:hover {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .radio__button__label-img {
    height: 20px;
    width: 20px;
    background: url(./src/RadioButton-CheckBox/RadioSVG1M.svg);
  }
}

.radio__button {
  margin: 0;
  display: none;
}
.radio__button:checked + label {
  background: url(./src/RadioButton-CheckBox/RadioSVG2.svg);
}
@media (max-width: 1023px) {
  .radio__button {
    display: none;
    margin: 0;
  }
  .radio__button:checked + label {
    background: url(./src/RadioButton-CheckBox/RadioSVG2M.svg);
  }
}

.radio__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}

.form__accept-licenz__checkbox__label {
  display: inline-block;
  height: 26px;
  width: 26px;
  background: url(./src/RadioButton-CheckBox/CheckboxSVG1.svg);
}
.form__accept-licenz__checkbox__label:hover {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .form__accept-licenz__checkbox__label {
    height: 20px;
    min-width: 20px;
    background: url(/src/RadioButton-CheckBox/CheckboxSVG1M.svg);
  }
  .form__accept-licenz__checkbox:checked + label {
    background: url(./src/RadioButton-CheckBox/CheckboxSVG2M.svg);
    height: 20px;
    min-width: 20px;
  }
}
@media (min-width: 1023px) {
  .form__accept-licenz__checkbox:checked + label {
    background: url(./src/RadioButton-CheckBox/CheckboxSVG2.svg);
  }
}
.form__accept-licenz__checkbox {
  display: none;
  margin: 0;
}

.form__accept-licenz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 30px;
  gap: 10px;
  color: #a6a6a6;
}
@media (min-width: 1023px) {
  .form__accept-licenz {
    width: auto;
  }
}

.a__licenz {
  color: #1b1f2b;
  text-decoration: none;
}
@media (min-width: 1023px) {
  .a__licenz:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
  .a__licenz:active {
    color: #286562;
    border-bottom: 2px solid #286562;
  }
}

.accept-buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 30px;
  gap: 10px;
  padding: 0px;
  width: 100%;
}
@media (min-width: 1023px) {
  .accept-buttons {
    gap: 30px;
  }
}
@media (min-width: 1023px) {
  .accept-buttons {
    margin-right: 298px;
  }
}
@media (min-width: 1800px) {
  .accept-buttons {
    margin-right: 530px;
  }
}

.accept-buttons__yes {
  width: 134px;
  height: 47px;
  text-align: center;
  border: none;
  background: #286562;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.2s linear;
}
@media (min-width: 1023px) {
  .accept-buttons__yes {
    width: 235px;
    height: 58px;
  }
}
@media (min-width: 1023px) {
  .accept-buttons__yes:hover {
    cursor: pointer;
    background-color: #3b7e7b;
  }
  .accept-buttons__yes:active {
    background-color: #627f7e;
  }
}

.accept-buttons__no {
  width: 134px;
  height: 47px;
  text-align: center;
  border: none;
  background: #e0f0e5;
  border-radius: 10px;
  transition: 0.2s linear;
}
@media (min-width: 1023px) {
  .accept-buttons__no {
    width: 235px;
    height: 58px;
  }
}
@media (min-width: 1023px) {
  .accept-buttons__no:hover {
    cursor: pointer;
    background-color: #f1f3f2;
  }
  .accept-buttons__no:active {
    background-color: #d9dfdb;
  }
}
/* REVIEVS*/ /* REVIEVS*/ /* REVIEVS*/
.riveiws {
  background-color: #f9f7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rewiew-cards {
  padding-top: 10px;
}
@media (min-width: 1023px) {
  .rewiew-cards {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding-top: 0px;
  }
}
@media (min-width: 1800px) {
  .rewiew-cards {
    gap: 30px;
  }
}

.review-card__one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f4f0e9;
  border-radius: 20px;
  margin-bottom: 18px;
  width: 318px;
}
@media (min-width: 1023px) {
  .review-card__one {
    width: 450px;
    height: 841px;
    border-radius: 50px;
  }
}
@media (min-width: 1800px) {
  .review-card__one {
    width: 570px;
    height: 673px;
    border-radius: 50px;
  }
}

.cards-wrapper {
  padding: 20px;
}

@media (min-width: 1023px) {
  .cards-wrapper {
    padding: 40px;
  }
}

.riveiw-cards__autor-text__tour {
  color: #a6a6a6;
}

.riveiw-cards__autor__logo-one {
  height: 75px;
  width: 75px;
  background-image: url(/src/ReviewsPhotos/reviewphoto-1.png);
  border-radius: 100px;
  background-size: cover;
}

.riveiw-cards__autor {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 0px 0px;
}

@media (min-width: 1023px) {
  .riveiw-cards__autor {
    padding: 378px 0 0;
  }
}
@media (min-width: 1800px) {
  .riveiw-cards__autor {
    padding: 266px 0 0;
  }
}
@media (min-width: 1023px) {
  .riveiw-cards__autor_two {
    padding: 70px 0 0;
  }
}

.riveiw-cards__autor-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.review-card__two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f4f0e9;
  border-radius: 20px;
  width: 318px;
}

@media (min-width: 1023px) {
  .review-card__two {
    width: 450px;
    height: 841px;
    border-radius: 50px;
  }
}
@media (min-width: 1800px) {
  .review-card__two {
    width: 570px;
    height: 673px;
    border-radius: 50px;
  }
}

.riveiw-cards__autor__logo-two {
  height: 75px;
  width: 75px;
  background-image: url(/src/ReviewsPhotos/reviewphoto-2.png);
  border-radius: 100px;
  background-size: cover;
}

/* TRAVEL PHOTO */ /* TRAVEL PHOTO */ /* TRAVEL PHOTO */

.travel-photo {
  background-color: #f9f7f4;
}

.travel-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding-top: 10px;
}
@media (min-width: 1023px) {
  .travel-photos {
    padding-top: 0px;
  }
}

.ul-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 1023px) {
  .ul-one {
    gap: 20px;
  }
}
@media (min-width: 1800px) {
  .ul-one {
    gap: 30px;
  }
}
.ul-one__li-one {
  width: 150px;
  height: 110px;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1023px) {
  .ul-one__li-one {
    width: 314.67px;
    height: 300px;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1885px) {
  .ul-one__li-one {
    width: 442.5px;
    height: 300px;
  }
}

.ul-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0;
  gap: 10px;
  list-style-type: none;
}
@media (min-width: 1023px) {
  .ul-two {
    gap: 20px;
  }
}
@media (min-width: 1800px) {
  .ul-two {
    gap: 30px;
  }
}
.ul-two__li-two {
  width: 99.33px;
  height: 110px;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1023px) {
  .ul-two__li-two {
    width: 231px;
    height: 301px;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1885px) {
  .ul-two__li-two {
    width: 349.16px;
    height: 301px;
    background-size: cover;
    background-position: center center !important;
  }
}

.one-row-one-photo {
  background: url(/src/PhotoCards/travelphoto-1.png);
  background-size: cover;
}

.one-row-two-photo {
  background: url(/src/PhotoCards/travelphoto-4.png);
  background-size: cover;
}

.one-row-three-photo {
  background: url(./src/PhotoCards/travelphoto-2.png);
  background-size: cover;
  display: none;
}
@media (min-width: 1800px) {
  .one-row-three-photo {
    display: block;
  }
}

.one-row-four-photo {
  background: url(./src/PhotoCards/travelphoto-3.jpg);
  background-size: cover;
  display: none;
}
@media (min-width: 1023px) {
  .one-row-four-photo {
    display: block;
  }
}

.two-row-one-photo {
  background: url(/src/PhotoCards/travelphoto-5.png);
  background-size: cover;
}

.two-row-two-photo {
  background: url(/src/PhotoCards/travelphoto-8.png);
  background-size: cover;
}

.two-row-three-photo {
  background: url(/src/PhotoCards//travelphoto-13.png);
  background-size: cover;
  background-position: 30% center !important;
}

.two-row-four-photo {
  background: url(./src/PhotoCards/travelphoto-6.png);
  background-size: cover;
  display: none;
}
@media (min-width: 1023px) {
  .two-row-four-photo {
    display: block;
  }
}

.two-row-five-photo {
  background: url(./src/PhotoCards/travelphoto-7.png);
  background-size: cover;
  display: none;
}
@media (min-width: 1800px) {
  .two-row-five-photo {
    display: block;
  }
}

.three-row-one-photo {
  background: url(/src/PhotoCards/travelphoto-9.png);
  background-size: cover;
}

.three-row-two-photo {
  background: url(/src/PhotoCards/travelphoto-10.png);
  background-size: cover;
}

.three-row-three-photo {
  background: url(./src/PhotoCards/travelphoto-11.png);
  background-size: cover;
  display: none;
}
@media (min-width: 1023px) {
  .three-row-three-photo {
    display: block;
  }
}

.three-row-four-photo {
  background: url(./src/PhotoCards/travelphoto-12.png);
  background-size: cover;
  display: none;
}
@media (min-width: 1800px) {
  .three-row-four-photo {
    display: block;
  }
}

.travel-story {
  background-color: #f9f7f4;
}

.card-story {
  width: 318px;
  height: 455px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1023px) {
  .card-story {
    width: 918px;
    height: 567px;
    border-radius: 50px;
  }
}
@media (min-width: 1023px) {
  .card-story:hover .card-story__bg-cont {
    transition: all 0.3s ease;
    transform: scale(1.2);
  }
  .card-story:hover .card-story__text-cont > .story__more_first > .button-more {
    cursor: pointer;
    transition: 0.5s linear;
    background: #286562;
    cursor: pointer;
  }
  .card-story:hover
    .card-story__text-cont
    > .story__more_first
    > .button-more
    :active {
    background: #efa501;
  }
}
@media (min-width: 1800px) {
  .card-story {
    width: 1170px;
    height: 567px;
    position: relative;
    overflow: hidden;
  }
}

@media (min-width: 1023px) {
  .card-story__2:hover > .card-story__text-cont > .story__more > .button-more {
    transition: 0.5s linear;
    background: #286562;
    cursor: pointer;
  }
  .card-story__2:hover
    > .card-story__text-cont
    > .story__more
    > .button-more
    :active {
    background: #efa501;
  }
}

@media (min-width: 1023px) {
  .card-story__3:hover > .card-story__text-cont > .story__more > .button-more {
    transition: 0.5s linear;
    background: #286562;
    cursor: pointer;
  }
  .card-story__3:hover
    > .card-story__text-cont
    > .story__more
    > .button-more
    :active {
    background: #efa501;
  }
}

.button-more {
  padding: 0px;
  background: rgba(0, 0, 0, 0);
  border: none;
}
.card-story__bg-cont {
  transition: all 0.3s ease;
}

.card-story__bg-cont1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-1.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .card-story__bg-cont1 {
    background: none;
  }
}

.card-story__bg-cont2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-2.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .card-story__bg-cont2 {
    background: none;
  }
}

.card-story__bg-cont3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-3.png);
  background-size: cover;
}
@media (max-width: 1023px) {
  .card-story__bg-cont3 {
    background: none;
  }
}

.card-story__text-cont {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
}
@media (min-width: 1023px) {
  .card-story__text-cont {
    padding-left: 60px;
    padding-top: 60px;
  }
}
.card-story__text-cont__t-one {
  color: white;
  width: 50%;
  margin-bottom: 20px;
}

.card-story__text-cont__t-two {
  color: white;
  width: 263px;
}
@media (min-width: 1023px) {
  .card-story__text-cont__t-one {
    width: 100%;
    margin-bottom: 37px;
  }
  .card-story__text-cont__t-two {
    margin-top: 20px;
    width: 544px;
  }
}

.story-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0;
  padding-top: 10px;
  gap: 18px;
  color: white;
}
@media (min-width: 1023px) {
  .story-tours {
    gap: 50px;
  }
}

.story__more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 15px;
  margin-top: 156.5px;
}

@media (min-width: 1023px) {
  .story__more {
    margin: 200px 0 0 0;
    gap: 16px;
  }
}
@media (min-width: 1800px) {
  .story__more {
    margin: 200px 0 0 0;
    gap: 16px;
  }
}

.story__more_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 15px;
  margin-top: 64px;
}

@media (min-width: 1023px) {
  .story__more_first {
    margin: 90px 0 0 0;
    gap: 16px;
  }
}
@media (min-width: 1800px) {
  .story__more_first {
    margin: 90px 0 0 0;
  }
}

.button-more__text-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
}
@media (min-width: 1023px) {
  .button-more__text-cont {
    padding-left: 20px;
    width: 199px;
    height: 42px;
  }
}
@media (min-width: 1800px) {
  .button-more__text-cont {
    padding-left: 20px;
    width: 199px;
    height: 42px;
  }
}

@media (min-width: 1023px) {
  .button-more {
    width: 199px;
    height: 42px;
    border-radius: 50px;
    align-items: center;
    overflow: hidden;
  }
}
@media (min-width: 1800px) {
  .button-more {
    width: 199px;
    height: 42px;
    border-radius: 50px;
    align-items: center;
    overflow: hidden;
  }
}

@media (max-width: 1023px) {
  .story-links {
    display: none;
  }
}
@media (min-width: 1023px) {
  .story-links {
    margin-right: 60px;
  }
}
@media (min-width: 1800px) {
  .story-links {
    margin-right: 60px;
  }
}

.story-links__instagram {
  color: white;
}
@media (min-width: 1023px) {
  .story-links__instagram:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
  .story-links__instagram:active {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
}

.story-links__facebook {
  margin-left: 35px;
  color: white;
}
@media (min-width: 1023px) {
  .story-links__facebook:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
  .story-links__facebook:active {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
}

.story-links__vk-yt {
  margin-left: 35px;
  color: white;
}
@media (min-width: 1023px) {
  .story-links__vk-yt:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
  .story-links__vk-yt:active {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
}

.story-list {
  color: white;
}
.button-more__text-cont__p {
  color: white;
}
@media (min-width: 1800px) {
  .button-more__text-cont__p {
    margin-left: 0px;
  }
}

.button-more__text-cont__vector {
  height: 15px;
  width: 22px;
  background-image: url(/src/Vectors/Vector.svg);
}

.card-story__1 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-1.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1800px) {
  .card-story__1 {
    background: none;
  }
}

.card-story__2 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-2.png);
  background-size: cover;
  background-position: center center;
}
@media (min-width: 1800px) {
  .card-story__2 {
    background: none;
  }
}

.card-story__3 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-3.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1800px) {
  .card-story__3 {
    background: none;
  }
}
/* ENDING */ /* ENDING */ /* ENDING */
.ending {
  background-color: #f9f7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 21px 0;
}
@media (min-width: 1023px) {
  .ending {
    padding: 135px 21px 135px 0;
  }
}

.ending-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1023px) {
  .ending-content {
    flex-direction: row;
    width: 771px;
    gap: 30px;
  }
}

.ending-content__text {
  display: flex;
  flex-direction: column;
}
.ending-content__photo {
  min-height: 130px;
  min-width: 133px;
  border-radius: 20px;
  margin-bottom: 30px;
  background: url(/src/Footer/footerphoto.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1023px) {
  .ending-content__photo {
    min-height: 370px;
    min-width: 370px;
    border-radius: 50px;
    margin: 0;
    background: url(/src/Footer/footerphoto.png);
    background-size: cover;
  }
}
@media (max-width: 1023px) {
  .ending-content__text__header {
    max-width: 291px;
  }
}
@media (max-width: 1023px) {
  .ending-content__text__header {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .ending-content__text__p {
    text-align: center;
  }
}
.ending-content__text__p {
  margin-top: 20px;
  color: #a6a6a6;
  padding-bottom: 75px;
}
/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */
.footer {
  justify-content: center;
  align-items: center;
  padding: 21px 0px 21px 0;
  gap: 7px;
  margin: 0;
  height: 95px;
}
@media (min-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88px;
  }
}

.footer__text {
  text-align: center;
  color: #a6a6a6;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 0 0 0;
  gap: 15px;
}
@media (min-width: 1023px) {
  .social-media {
    padding: 0;
    gap: 30px;
  }
}

.social-media__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
}
@media (min-width: 1023px) {
  .social-media__container {
    gap: 10px;
  }
}

.social-media__container__name {
  color: #1b1f2b;
}
@media (min-width: 1023px) {
  .social-media__container__name {
    height: 27px;
  }
  .social-media__container__name:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
  .social-media__container__name:active {
    color: #efa501;
    border-bottom: 2px solid #efa501;
  }
}

.social-media__container__logo-1 {
  background: url(/src/Footer/Vector1.svg);
  height: 14px;
  width: 14px;
}

.social-media__container__logo-3 {
  background: url(/src/Footer/Logo.svg);
  height: 12px;
  width: 20px;
}

.social-media__container__logo-2 {
  background: url(/src/Footer/Vector2.svg);
  height: 17px;
  width: 8px;
}

/*# sourceMappingURL=style.css.map */
