@import url(/blocks/font/_h1/font_h1.css);
@import url(/blocks/font/_h2/font_h2.css);
@import url(/blocks/font/_h3/font_h3.css);
@import url(/blocks/p-big/p-big.css);
@import url(/blocks/p-normal/p-normal.css);
@import url(/blocks/p-small/p-small.css);
@import url(/blocks/welcome-page/welcome-page.css);
@import url(/blocks/header/header.css);
@import url(/blocks/header/_scroll/header_scroll.css);
@import url(/blocks/header/__logo/header__logo.css);
@import url(/blocks/header/__logo/_black/header__logo_black.css);
@import url(/blocks/navigation/__ul/navigation__ul.css);
@import url(/blocks/navigation/__li/navigation__li__a.css);
@import url(/blocks/navigation/__li/navigation__li.css);
@import url(/blocks/navigation/__li/_del-border/navigation__li_del-border.css);
@import url(/blocks/header/__text-container/header__text-container.css);
@import url(/blocks/header/__text-container/header__text-container__text-one.css);
@import url(/blocks/header/__text-container/header__text-container__text-two.css);
@import url(/blocks/phone-num/phone-num.css);
@import url(/blocks/search-tour-button/search-tour-button.css);
@import url(/blocks/header-h2/header-h2.css);
@import url(/blocks/tour-type/tour-type.css);
@import url(/blocks/type-tour/__li/type-tour__li.css);
@import url(/blocks/type-tour/__li/type-tour__li__button.css);
@import url(/blocks/type-tour/__li/type-tour__li__button_active.css);
@import url(/blocks/cards-tours/cards-tours.css);
@import url(/blocks/card-tour/card-tour.css);
@import url(/other-styles/backgrounds-cont/card-tour/__background-cont/card-tour__background-cont.css);
@import url(/other-styles/backgrounds-cont/background-container1/background-container1.css);
@import url(/other-styles/backgrounds-cont/background-container2/background-container2.css);
@import url(/other-styles/backgrounds-cont/background-container3/background-container3.css);
@import url(/other-styles/backgrounds-cont/background-container4/background-container4.css);
@import url(/other-styles/backgrounds-cont/background-container5/background-container5.css);
@import url(/other-styles/backgrounds-cont/background-container6/background-container6.css);
@import url(/blocks/card-tour/__text-cont/card-tour__text-cont.css);
@import url(/blocks/card-tour/__text-cont/card-tour__text-cont__name.css);
@import url(/blocks/card-tour/__text-cont/card-tour__text-cont__price.css);
@import url(/blocks/more/more.css);
@import url(/blocks/more/__text/more__text.css);
@import url(/blocks/more/__vector/more__vector.css);
@import url(/blocks/card-tour/_1/card-tour_1.css);
@import url(/blocks/card-tour/_2/card-tour_2.css);
@import url(/blocks/card-tour/_3/card-tour_3.css);
@import url(/blocks/card-tour/_4/card-tour_4.css);
@import url(/blocks/card-tour/_5/card-tour_5.css);
@import url(/blocks/card-tour/_6/card-tour_6.css);
@import url(/blocks/section-description/section-description.css);
@import url(/blocks/form/form.css);
@import url(/blocks/form/__radio-cont/form__radio-cont.css);
@import url(blocks/form/__row-two/form__row-two.css);
@import url(blocks/form/__row-one/form__row-one.css);
@import url(blocks/form/__input/form__input.css);
@import url(blocks/form/__select/form__select.css);
@import url(blocks/form/__textarea/form__textarea.css);
@import url(blocks/form/__accept-buttons/form__accept-buttons.css);
@import url(blocks/radio/radio.css);
@import url(blocks/radio/__button/radio__button__label-img.css);
@import url(blocks/radio/__button/radio__button.css);
@import url(blocks/radio/__container/radio__container.css);
@import url(blocks/form/__accept-licenz/form__accept-licenz__checkbox__label.css);
@import url(blocks/form/__accept-licenz/form__accept-licenz__checkbox.css);
@import url(blocks/form/__accept-licenz/form__accept-licenz.css);
@import url(blocks/a/__licenz/a__licenz.css);
@import url(blocks/accept-buttons/accept-buttons.css);
@import url(blocks/accept-buttons/__yes/accept-buttons__yes.css);
@import url(blocks/accept-buttons/__no/accept-buttons__no.css);
@import url(blocks/riveiws/riveiws.css);
@import url(blocks/rewiew-cards/rewiew-cards.css);
@import url(blocks/review-card/__one/review-card__one.css);
@import url(blocks/cards-wrapper/cards-wrapper.css);
@import url(blocks/riveiw-cards/__autor-text/riveiw-cards__autor-text__tour.css);
@import url(blocks/riveiw-cards/__autor/riveiw-cards__autor__logo-one.css);
@import url(blocks/riveiw-cards/__autor/riveiw-cards__autor.css);
@import url(blocks/riveiw-cards/__autor/_two/riveiw-cards__autor_two.css);
@import url(blocks/riveiw-cards/__autor-text/riveiw-cards__autor-text.css);
@import url(blocks/review-card/__two/review-card__two.css);
@import url(blocks/riveiw-cards/__autor/riveiw-cards__autor__logo-two.css);
@import url(blocks/travel-photo/travel-photo.css);
@import url(blocks/travel-photos/travel-photos.css);
@import url(blocks/ul-one/ul-one.css);
@import url(blocks/ul-one/__li-one/ul-one__li-one.css);
@import url(blocks/ul-two/ul-two.css);
@import url(blocks/ul-two/__li-two/ul-two__li-two.css);
@import url(other-styles/row-container/row-1-1-photo/row-1-1-photo.css);
@import url(other-styles/row-container/row-1-2-photo/row-1-2-photo.css);
@import url(other-styles/row-container/row-1-3-photo/row-1-3-photo.css);
@import url(other-styles/row-container/row-1-4-photo/row-1-4-photo.css);
@import url(other-styles/row-container/row-2-1-photo/row-2-1-photo.css);
@import url(other-styles/row-container/row-2-2-photo/row-2-2-photo.css);
@import url(other-styles/row-container/row-2-3-photo/row-2-3-photo.css);
@import url(other-styles/row-container/row-2-4-photo/row-2-4-photo.css);
@import url(other-styles/row-container/row-2-5-photo/row-2-5-photo.css);
@import url(other-styles/row-container/row-3-1-photo/row-3-1-photo.css);
@import url(other-styles/row-container/row-3-2-photo/row-3-2-photo.css);
@import url(other-styles/row-container/row-3-3-photo/row-3-3-photo.css);
@import url(other-styles/row-container/row-3-4-photo/row-3-4-photo.css);
@import url(blocks/travel-story/travel-story.css);
@import url(blocks/card-story/card-story.css);
@import url(blocks/button-more/button-more.css);
@import url(blocks/card-story/__bg-cont/card-story__bg-cont.css);
@import url(blocks/card-story/__bg-cont1/card-story__bg-cont1.css);
@import url(blocks/card-story/__bg-cont2/card-story__bg-cont2.css);
@import url(blocks/card-story/__bg-cont3/card-story__bg-cont3.css);
@import url(blocks/card-story/__text-cont/card-story__text-cont.css);
@import url(blocks/card-story/__text-cont/card-story__text-cont__t-one.css);
@import url(blocks/card-story/__text-cont/card-story__text-cont__t-two.css);
@import url(blocks/story-tours/story-tours.css);
@import url(blocks/story/__more/story__more.css);
@import url(blocks/story/__more/_first/story__more_first.css);
@import url(blocks/story-links/story-links.css);
@import url(blocks/story-links/__instagram/story-links__instagram.css);
@import url(blocks/story-links/__facebook/story-links__facebook.css);
@import url(blocks/story-links/__vk-yt/story-links__vk-yt.css);
@import url(blocks/story-list/story-list.css);
@import url(blocks/card-story/__1/card-story__1.css);
@import url(blocks/card-story/__2/card-story__2.css);
@import url(blocks/card-story/__3/card-story__3.css);
@import url(blocks/ending/ending.css);
@import url(blocks/ending-content/ending-content.css);
@import url(blocks/ending-content/__text/ending-content__text.css);
@import url(blocks/ending-content/__photo/ending-content__photo.css);
@import url(blocks/ending-content/__text/ending-content__text__header.css);
@import url(blocks/ending-content/__text/ending-content__text__p.css);
@import url(blocks/footer/footer.css);
@import url(blocks/footer/__text/footer__text.css);
@import url(blocks/social-media/social-media.css);
@import url(blocks/social-media/__container/social-media__container.css);
@import url(blocks/social-media/__container/social-media__container__name.css);
@import url(blocks/social-media/__container/social-media__container__logo-1.css);
@import url(blocks/social-media/__container/social-media__container__logo-3.css);
@import url(blocks/social-media/__container/social-media__container__logo-2.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  background-color: #f9f7f4;
}

footer {
  background: #f4f0e9;
  padding: 0 21px;
}
@media (min-width: 1023px) {
  footer {
    padding: 0 53px;
  }
}
@media (min-width: 1800px) {
  footer {
    padding: 0 376px;
  }
}

p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
