.header__logo {
  margin: 33px 0 0 5.5vw;
  width: 133px;
  height: 22px;
  background: url(/src/Header/YourTour360.svg);
  background-size: cover;
}
@media (min-width: 1023px) {
  .header__logo {
    margin: 29px 0 29px 57px;
    width: 182px;
    height: 31px;
    background-image: url(/src/Header/YourTour1024.svg);
  }
}
@media (min-width: 1800px) {
  .header__logo {
    margin: 29px 0 29px 376px;
    width: 182px;
    height: 31px;
    background-image: url(/src/Header/YourTour1024.svg);
  }
}
