.p-big {
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
  color: #1b1f2b;
}
@media (min-width: 1023px) {
  .p-big {
    font-family: "Roboto", "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1b1f2b;
  }
}
