.tour-type {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1023px) {
  .tour-type {
    margin-top: 35px;
    width: 100%;
  }
}
@media (min-width: 1800px) {
  .tour-type {
    height: 39px;
  }
}
