.a__licenz {
  color: #1b1f2b;
  text-decoration: none;
}
@media (min-width: 1023px) {
  .a__licenz:hover {
    cursor: pointer;
    border-bottom: 2px solid;
  }
}
@media (min-width: 1023px) {
  .a__licenz:active {
    color: #286562;
    border-bottom: 2px solid #286562;
  }
}
