.card-tour_5 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-5.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 1800px) {
  .card-tour_5 {
    margin-left: 30px;
  }
}
